<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1">
	<title>Workout Tracker</title>
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/workout_tracker.css">
</head>

<body>
	<div id="nav">
		<div class="col-sm nav-align">
			<h1 id="title">Workout Tracker</h1>
		</div>
		<div class="col-sm nav-align">
			<a href="/">
				<span class="button">Home</span>
			</a>
			<a href="/workoutPrograms">
				<span class="button">Workout Programs</span>
            </a>
			<% if (loggedIn) { %>
			<a href="/users">
				<span class="button">Users</span>
            </a>
            <a href="/workoutActivities">
				<span class="button">Workout Activities</span>
            </a>
				Logged in as <a class="a-right-margin" href="<%=`/users/${currentUser._id}`%>">
				<%= currentUser.fullName %></a>
				<a href="/users/logout">Logout</a>
			<%} else {%>
				<a href="/users/login">Log In</a>
				<a href="/users/new">Sign Up</a>
			<% } %>
		</div>
	</div>

	<div class="container">
		<%- body %>
	</div>

	<div class="flashes">
		<% if (flashMessages) { %>
		<% if (flashMessages.success) { %>
		<div class="flash success"><%= flashMessages.success %>
		</div> 
		<% } else if (flashMessages.error) { %>
		<div class="flash error"><%= flashMessages.error %></div>
		<% } %>
		<% } %>
	</div>

</body>

</html>